.wrapper{
	position:relative;
    min-height: 80vh;
    min-height: -webkit-calc(100vh - 70px);
    min-height: -moz-calc(00vh - 70px);
    min-height: calc(100vh - 70px);
}
footer {
    height: 70px;
}